<%= link_to "Create Bug", create_bug_path %>

<h1>Bugs List</h1>
<table border=1>
	<thead>
		<tr>
			<th>Title</th>
			<th>Created by</th>
			<th>Assigned to</th>
			<th>Description</th>
			<th>Deadline</th>
			<th>Screenshot</th>
			<th>Type</th>
			<th>Status</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @bugs.each do |bug| %>
		<tr>
			<td><%=  bug["title"] %></td>
			<td><%=  bug["createdby_id"] %></td>
			<td><%=  bug["assignedto_id"] %></td>
			<td><%=  bug["description"] %></td>
			<td><%=  bug["deadline"] %></td>
			<td><%= image_tag bug.screenshot %></td>
			<td><%=  bug["bug_type"] %></td>
			<td><%=  bug["status"] %></td>
			<td>
				<%= link_to "Delete Bug", "/bug/delete/#{bug.id}" %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>