<!DOCTYPE html>
<html>
<head>
	<title>Bugzilla</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

	<nav class="navbar bg-info">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>                        
				</button>
				<a class="navbar-brand" href="#">BugZilla</a>
			</div>

			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<% if session[:id].present? then %>
					<li><%= link_to "Dashboard", root_path %></li>
					<% if session[:role].present? &&  session[:role]=="manager" then%>
					<li><%= link_to "Add Project", project_create_path %></li>
					<% end %>
					<% end %>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<% if session[:id].present? then%>

					<li class="indent">Welcome <%= session[:name] %> !</li>
					<li><%= link_to "logout", logout_path %></li>
					<%else%>
					<li><%= link_to "Signin", users_signin_path %></li>
					<li><%= link_to "Signup", users_signup_path %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container-fluid bg-warning main-content p-20">
		<div class="container text-center">

			<% flash.each do |name, message| %>
			<% if name=="error" then
				@class="alert-danger"
			else
				@class="alert-success"
			end
			%>
			<div class="<%= @class %> alert alert-dismissible fade in col-md-6 col-md-offset-3 p-20">
				<a href="#" class="close" dsta-dismiss="alert" aria-label="close">&times;</a>
				<strong><%= name %></strong> <%= message %>
			</div>
			<div class="clearfix"></div>

			<% end %>
			<%= yield %>
		</div>
	</div>

	<!--Footer-->
	<footer class="page-footer bg-info p-20">
		<!--Copyright-->
		<div class="footer-copyright py-3 text-center">
			© 2018 Copyright: Devsinc
		</div>
	</footer>    

</body>
</html>